@import "../../shared/index.scss";
.home {
  position: relative;
  width: 100vw;
  height: 100vh;

  &__content {
    position: relative;
  }

  &__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50vh;
    flex-wrap: wrap;
    flex-direction: column;

    h1 {
      font-size: 3.8rem;
      width: 50vw;
      text-align: center;
      font-family: $font;
    }
  }
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  opacity: 20%;
}
