@import "../../index.scss";

.timeSelect {
  display: flex;
  width: 100%;
  justify-content: center;

  &__container {
    margin-top: 15vh;
    background-color: $white;
    width: 60%;
    height: 90px;
    box-shadow: 5px 5px 15px 5px #00000034;
    border-radius: 5px;
  }
}
