.app {
  &__input-container {
    
    text-align: center;
    width: 30vw;
    height: 45vh;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin-left: 8vw;
    margin-top: 15vh;
    box-shadow: -1px 9px 36px 5px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  &__input-container > h1 {
    margin-top: 5vh;
    padding-top: 15px;
    font-weight: 700;
    font-size: 35px;
  }

  &__roomdisplay {
    margin-top: 25px;
    position: absolute;
    width: 100%;
    bottom: 19vh;
  }
}
