@import "../../shared/index.scss";

.navbar {
  width: auto;
  display: flex;
  justify-content: space-between;
  font-family: $font;
  font-weight: bold;
  font-size: 20px;
  padding: 3vw 4vw;

  a {
    color: $black;
    text-decoration: none;
  }

  a:visited {
    color: $black;
  }

  &__middle,
  &__right {
    display: flex;
    justify-content: space-between;
  }

  &__dot {
    padding: 0 10px;
  }
}

// ¯\_(ツ)_/¯
